body
{
	margin: 0;
	padding: 0;
	background-color: #fcffed;
}
#main
{
	height: 80%;
	width: 100%;
}
#menu
{
	height: 25%;
	width: 100%;
}
#keyboard
{
	height: 75%;
	width: 100%;
}
.shadowkeys
{
	height: 100%;
	width: 100%;
	border-radius: 10px;
	border-bottom: 1px solid #c8c8c8;
	background: linear-gradient(90deg, #6dff5f 0%, transparent 0%);
	transition: background-color 0.6s ease;
}
.rows
{
	height: 20%;
	width: 100%;
}
.keys
{
	height: 95%;
	width: 6%;
	background: linear-gradient(to top, #6dff5f 0%, #eeeeee 0%);
}
.keys, #Backspace, #Tab, #CapsLock, .LShift, .PShift, #ControlRight, #ControlLeft, #AltLeft, #AltRight, #Space, #Wind
{
	font-size: 35px;
	background-color: #eeeeee;
	box-shadow: 1px 2px 2px 0px #787878;
	border-bottom: 1px solid #c8c8c8;
	display: block;
	float: left;
	font-family: Bradley Hand, cursive;
	margin-right: 0.25%;
	margin-left: 0.25%;
	margin-top: 0.25%;
	margin-bottom: 0.25%;
	transition: background-color 0.6s ease;
	border-radius: 10px;
	text-align: center;
}
#Backspace
{
	height: 95%;
	width: 14%;
}
#Tab
{
	height: 95%;
	width: 10%;
}
#CapsLock
{
	height: 95%;
	width: 11.1111111%;
}
.LShift
{
	height: 95%;
	width: 15.555555556%;
}
.PShift
{
	height: 95%;
	width: 17.7777778%;
}
#ControlLeft
{
	height: 95%;
	width: 9.8888888%;
}
#ControlRight
{
	height: 95%;
	width: 9.3%;
}
#AltLeft, #AltRight
{
	height: 95%;
	width: 8.2%;
}
#Wind
{
	height: 95%;
	width: 7.9%;
}
#Space
{
	height: 95%;
	width: 36%;
}
#pole
{
	display: block;
	width: 100%;
	height: 19%;
}
#poleramka
{
	height: 100%;
	width: 50%;
	margin: auto;
	line-height: auto;
	font-size: 15;
	text-align: center;
}
#poletekst
{
	font-size: 70;
	text-align: center;
	padding-top: 3%;
	font-family: Bradley Hand, cursive;
}
