body
{
	margin: 0;
	padding: 0;
	background-color: #fcffed;
}
#main
{
	height: 80%;
	width: 100%;
}
#menu
{
	height: 25%;
	width: 100%;
}
#keyboard
{
	height: 75%;
	width: 100%;
}
.rows
{
	height: 19%;
	width: 100%;
	text-align: center;
	margin-top: 0.5%;
}
.keys
{
	height: 95%;
	width: 6%;
	display: inline-block;
}
.bars
{
	width: 70%;
	height: 10%;
	position: relative;
	margin: 0 auto;
	margin-top: -17%;
	border: 1px solid black;
	background: linear-gradient(to right, red 20%, #eeeeee 0%);
	border-radius: 5px;
	display: none;
}
#qBar, #wBar, #eBar, #rBar, #tBar, #yBar, #uBar, #iBar, #oBar, #pBar, #aBar, #sBar, #dBar, #fBar, #gBar, #hBar, #jBar, #kBar, #lBar, #zBar, #xBar, #cBar, #vBar, #bBar, #nBar, #mBar
{
	margin-top: -9.5%;
}
.alttext
{
	font-size: 17px;
	margin-left: 4%;
}
.keys, #Backspace, #CapsLock, .Shift, #Space
{
	font-size: 35px;
	background-color: #eeeeee;
	box-shadow: 1px 2px 2px 0px #787878;
	border-bottom: 1px solid #c8c8c8;
	font-family: Bradley Hand, cursive;
	margin-right: 0.25%;
	margin-left: 0.25%;
	margin-top: 0.25%;
	margin-bottom: 0.25%;
	transition: background-color 0.6s ease;
	border-radius: 10px;
	text-align: center;
}
#Backspace
{
	height: 95%;
	width: 14%;
	display: inline-block;
}
#CapsLock
{
	height: 95%;
	width: 11.1111111%;
	display: inline-block;
}
.Shift
{
	height: 95%;
	width: 15%;
	display: inline-block;
}
#Space
{
	height: 95%;
	width: 36%;
	display: inline-block;
}
#pole
{
	display: block;
	width: 100%;
	height: 19%;
}
#poleramka
{
	height: 100%;
	width: 50%;
	margin: auto;
	line-height: auto;
	font-size: 15;
	text-align: center;
}
#poletekst
{
	font-size: 70;
	text-align: center;
	padding-top: 3%;
	font-family: Bradley Hand, cursive;
}
