body
{
	margin: 0;
	padding: 0;
	background-color: white;
	cursor: default;
	font-family: Geneva, Verdana, sans-serif;
	user-select: none;
}
#Login
{
	display: block;
	height: 92vh;
	width: 100vw;
	background-color: #434446;
	position: fixed;
	z-index: 20;
	text-align: center;
	padding-top: 8vh;
	color: #dcdee0;
}
#Login2
{
	display: none;
	height: 92vh;
	width: 100vw;
	background-color: #434446;
	position: fixed;
	z-index: 20;
	text-align: center;
	padding-top: 8vh;
	color: #dcdee0;
}
#savegame1, #savegame2, #savegame3
{
	width: 18vw;
	height: 4.5vh;
	font-size: 1.8vh;
	line-height: 4.5vh;
	background-color: #dcdee0;
	color: #1d1d1e;
	text-align: center;
	border-radius: 0.6vw;
	margin: 0 auto;
}
#savegame1:hover, #savegame2:hover, #savegame3:hover
{
	cursor: pointer;
	text-decoration: underline;
}
#save1bin, #save2bin, #save3bin
{
	display: block;
	opacity: 0;
	cursor: pointer;
	position: relative;
	top: -3.9vh;
	left: 57.2vw;
	border-radius: 1vw;
	box-shadow: inset 0px 0px 10px 0px #919191;
	width: 3.3vh;
	height: 3.3vh;
	background-image: url("bin.png");
	background-size: 3.3vh 3.3vh;
}
#Login2>form>input
{
	background-color: #dcdee0;
	border: none;
	border-radius: 6px;
	padding-left: 5px;
}
#nameerror
{
	display: none;
	position: relative;
	left: 56vw;
	top: -24px;
	width: 100px;
	font-size: 8px;
	color: red;
}
#nameerror2
{
	display: none;
	margin: 0 auto;
	width: 100px;
	font-size: 8px;
	color: red;
	line-height: 10px;
}
#logbutton
{
	width: 80px;
	height: 22px;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
	text-align: center;
	line-height: 22px;
	transition: all 0.4s, margin 0s, line-height 0s;
	background-color: #dcdee0;
}
#logbutton:hover
{
	background-color: #af00ff;
	color: #dcdee0;
}
#Alert
{
	position: absolute;
	top: 22vh;
	left: 40vw;
	width: 20vw;
	background-color: #fffffd;
	margin: 0 auto;
	border-radius: 20px;
	border: 3px solid #343536;
	box-shadow: 1px 1px 6px 1px #2f2f2f;
	display: none;
	z-index: 100;
	color: #434446;
	line-height: 25px;
	font-size: 13px;
	text-align: center;
	padding-top: 10px;
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
#AlertOks
{
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
	margin-bottom: 8px;
}
#AlertConfirm, #AlertCancel
{
	cursor: pointer;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	display: inline-block;
	width: 70px;
	height: 15px;
	border-radius: 5px;
	color: #434446;
	background-color: #fffffd;
	border: 1px solid #343536;
	transition: all 0.4s;
}
#AlertCancel
{
	margin-left: 10px;
}
#AlertConfirm:hover, #AlertCancel:hover
{
	background-color: #434446;
	color: #fffffd;
}
#title
{
	height: 5vh;
	width: 100vw;
	line-height: 5vh;
	font-size: 2.8vh;
	position: relative;
	background-color: #ffffff;
	text-shadow: 1px 1px 3px #cbcbcb;
	color: #3e4c9c;
	border-bottom: 0.2vh solid #2e324b;
}
#changename
{
	right: 15px;
	position: absolute;
	text-align: center;
	display: none;
	border: 1px solid #cd9039;
	border-radius: 0px 0px 8px 8px;
	padding: 4px;
	font-size: 12px;
	line-height: 18px;
	background-color: #fff4e4;
	text-shadow: 1px 1px 3px #cbcbcb;
}
#changenick, #changeacc
{
	cursor: pointer;
}
#changenick:hover, #changeacc:hover
{
	text-decoration: underline;
}
#scoredisplay
{
	height: 5vh;
	line-height: 5vh;
	left: 48vw;
	font-size: 2.9vh;
	position: absolute;
	top: -5px;
	color: #252e67;
	text-align: center;
	text-shadow: 1px 1px 3px #cbcbcb;
}
#scoredisplay>img
{
	margin-bottom: -13px;
}
#saveinfo
{
	display: none;
	position: absolute;
	top: 45px;
	right: 15px;
	background-color: #e8ad5abf;
	border: 1px solid #89704c;
	font-weight: bold;
	font-size: 16px;
	line-height: 52px;
	text-align: center;
	width: 120px;
	height: 55px;
	border-radius: 7px;
	cursor: pointer;
	transform-origin: top-right;
	animation: slide .2s linear 1;
}
@keyframes slide {
  from {top: 10px; right: 0px;
		transform: scale(0,0);}
  to {top: 45px; right: 15px;
	  transform: scale(1,1);}
}
@keyframes slideout {
  from {top: 45px; right: 15px;
	  transform: scale(1,1);}
  to {top: 10px; right: 0px;
		transform: scale(0,0);}
}
#all
{
	margin: 0 auto;
	display: none;
}
#menu
{
	width: 100vw;
	height: 5.2vh;
	display: block;
	text-align: center;
}
#menu1, #menu2, #menu3, #menu4, #menu5
{
	width: 18.6vw;
	height: 5vh;
	line-height: 5vh;
	display: block;
	float: left;
	font-size: 2.8vh;
	color: #4e74d5;
	background-color: #efeff7;
	cursor: pointer;
	transition: font-size 0.3s, background-color 0.3s, color 0.4s, line-height 0.3s;
	border-radius: 5px;
	border-left: 0.1vw solid #2e324b;
	border-right: 0.1vw solid #2e324b;
	border-bottom: 0.2vh solid #2e324b;
}
#menu1
{
	margin-left: 2vw;
	line-height: 4.5vh;
	font-size: 3.2vh;
	text-decoration: underline;
	background-color: #4e74d5;
	color: #efeff7;
}
#menu1, #menu2, #menu3, #menu4
{
	margin-right: 0.5vw;
}
#main
{
	display: block;
	width: 100vw;
	height: 89.6vh;
}
#collectors
{
	font-size: 2.3vw;
	text-align: center;
	width: 38.8vw;
	height: 80vh;
	margin-top: 7.2vh;
	float: left;
	border-left: 0.1vw solid white;
	border-right: 0.1vw solid white;
	border-top: 0.2vh solid white;
	border-bottom: 0.2vh solid white;
	border-radius: 12px;
	margin-bottom: 2vh;
	margin-left: 1vw;
}
#collectors>.coltext1
{
	width: 38.8vw;
	float: left;
	line-height: 7vh;
}
#collectors>.coltext2
{
	width: 38.8vw;
	float: left;
	line-height: 3vh;
	font-size: 0.55vw;
	opacity: 0.4;
	margin-top: -1vh;
}
#collector1, #collector2, #collector3, #collector4
{
	width: 11.8vw;
	height: 24.6vh;
	border-left: 0.1vw solid #2e324b;
	border-right: 0.1vw solid #2e324b;
	border-top: 0.2vh solid #2e324b;
	border-bottom: 0.2vh solid #2e324b;
	float: left;
	margin-top: 7.666666666667vh;
	border-radius: 20px;
	margin-left: 4.93333333333333vw;
	background: linear-gradient(to top, #9eff96 0%, white 0%);
	transition: transform 0.1s;
	box-shadow: 1px 4px 5px 0px gainsboro;
}
#collector1main, #collector2main, #collector3main, #collector4main
{
	width: 10.5vw;
	height: 22vh;
	border-left: 0.05vw solid #2e324b;
	border-right: 0.05vw solid #2e324b;
	border-top: 0.1vh solid #2e324b;
	border-bottom: 0.1vh solid #2e324b;
	float: left;
	margin-top: 1.2vh;
	border-radius: 15px;
	margin-left: 0.6vw;
	background: white;
	box-shadow: 0px 0px 3px 0px #8c8c8c;
}
#collector1time, #collector2time, #collector3time, #collector4time
{
	font-size: 15px;
	line-height: 3.5vh;
}
#collector1letter, #collector2letter, #collector3letter, #collector4letter
{
	opacity: 0.07;
	font-size: 2.7vw;
	line-height: 14vh;
}
#collector1strg, #collector2strg, #collector3strg, #collector4strg
{
	font-size: 15px;
	line-height: 5.5vh;
}
#letters
{
	width: 57.8vw;
	height: 80vh;
	margin-top: 7.2vh;
	float: left;
	border-left: 0.1vw solid grey;
	border-right: 0.1vw solid grey;
	border-top: 0.2vh solid grey;
	border-bottom: 0.2vh solid grey;
	border-radius: 12px;
	margin-bottom: 2vh;
	margin-left: 1vw;
	margin-right: 1vw;
	overflow: hidden;
}
#lettersinfo
{
	width: 57.8vw;
	height: 4vh;
	float: left;
}
#lettersinfo1, #lettersinfo2, #lettersinfo3
{
	width: 19.21vw;
	height: 4vh;
	float: left;
	line-height: 4vh;
	text-align: center;
	font-size: 2.3vh;
	opacity: 0.7;
}
#lettersinfo1, #lettersinfo2
{
	border-right: 0.05vw solid grey;
}
#lettersnormalmenu, #lettersuppercasemenu, #lettersspecialmenu
{
	width: 19.21vw;
	float: left;
}
#lettersnormalmenu, #lettersuppercasemenu
{
	border-right: 0.05vw solid grey;
}
#lettersnormalaehinorst, #lettersnormaldl, #lettersnormalbcfgmpuwy, #lettersnormaljkqvxz, #lettersuppercaseaehinorst, #lettersuppercasedl, #lettersuppercasebcfgmpuwy, #lettersuppercasejkqvxz, #lettersspecial1, #lettersspecial2
{
	width: 18.01vw;
	height: 4vh;
	margin-top: 0.5vh;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	float: left;
	cursor: not-allowed;
	border-radius: 8px;
	text-align: center;
	font-size: 1.5vh;
	line-height: 4vh;
	background: linear-gradient(to top right, #999999, #c2c2c2);
	color: black;
	border-left: 0.1vw solid black;
	border-right: 0.1vw solid black;
	border-top: 0.2vh solid black;
	border-bottom: 0.2vh solid black;
	transition: color 0.2s, background-color 0.2s, transform 0.1s;
}
#lettersnormalaehinorst
{
	color: #ffa31b;
	font-size: 2vh;
	cursor: pointer;
	background: white;
	border-left: 0.1vw solid #ffa31b;
	border-right: 0.1vw solid #ffa31b;
	border-top: 0.2vh solid #ffa31b;
	border-bottom: 0.2vh solid #ffa31b;
}
#lettersnormalaehinorst:active, #lettersuppercaseaehinorst:active
{
	transform: scale(0.95,0.95);
}
#lettersnormaldl:active, #lettersuppercasedl:active
{
	transform: scale(0.95,0.95);
}
#lettersnormalbcfgmpuwy:active, #lettersuppercasebcfgmpuwy:active
{
	transform: scale(0.95,0.95);
}
#lettersnormaljkqvxz:active, #lettersuppercasejkqvxz:active
{
	transform: scale(0.95,0.95);
}
#lettersspecial1, #lettersspecial2
{
	cursor: default;
}
#lettersmainnormalaehinorst, #lettersmainnormaldl, #lettersmainnormalbcfgmpuwy, #lettersmainnormaljkqvxz, #lettersmainuppercaseaehinorst, #lettersmainuppercasedl, #lettersmainuppercasebcfgmpuwy, #lettersmainuppercasejkqvxz
{
	display: none;
	margin-top: 0.1vh;
	float: left;
	width: 57.8vw;
	height: 56.2vh;
	border-top: 0.1vh solid #474b61;
	text-align: center;
}
#lettersmainnormalaehinorst
{
	display: block;
}
#lettersnormalaehinorst
{
	background-color: #ffc166;
	color: white;
}
.normal, .uppercase
{
	margin: 0.7vh;
	margin-top: 1vh;
	display: inline-block;
	width: 6.5vw;
	height: 6.5vw;
	border-radius: 1vw;
	border-left: 0.1vw solid #5d606b;
	border-right: 0.1vw solid #5d606b;
	border-top: 0.2vh solid #5d606b;
	border-bottom: 0.2vh solid #5d606b;
	cursor: move;
	overflow: hidden;
	box-shadow: 1px 1px 3px 0px #b7b7b7, inset 0px 0px 3px 0px #b7b7b7;
	text-shadow: 1px 1px 5px #c7c7c7;
}
.normaltime, .uppercasetime
{
	font-size: 0.8vw;
	line-height: 1vw;
}
.normaldisp, .uppercasedisp
{
	font-size: 2vw;
	line-height: 4.1vw;
}
.normalstrg, .uppercasestrg
{
	font-size: 0.75vw;
	line-height: 1.4vw;
	height: 1.4vw;
	width: 6.5vw;
	background: linear-gradient(to right, #15ff0075 80%, #ffffff75 80%), linear-gradient(to top, #d2d2d2 0%, #d2d2d2 50%, #ffffff 90%);
	box-shadow: -1px 0px 1px 0px black;
}
#normale, #normala, #normalh, #normali, #normaln, #normalo, #normalr, #normals, #normalt, #uppercasee, #uppercasea, #uppercaseh, #uppercasei, #uppercasen, #uppercaseo, #uppercaser, #uppercases, #uppercaset
{
	background-color: #fffaf2;
}
#normald, #normall, #uppercased, #uppercasel
{
	background-color: #eeffeb;
}
#normalb, #normalc, #normalf, #normalg, #normalm, #normalp, #normalu, #normalw, #normaly, #uppercaseb, #uppercasec, #uppercasef, #uppercaseg, #uppercasem, #uppercasep, #uppercaseu, #uppercasew, #uppercasey
{
	background-color: #f0faff;
}
#normalj, #normalk, #normalq, #normalv, #normalx, #normalz, #uppercasej, #uppercasek, #uppercaseq, #uppercasev, #uppercasex, #uppercasez
{
	background-color: #fdefff;
}
#mastery
{
	display: none;
	width: 100vw;
	height: 88.6vh;
	margin-top: 1vh;
}
#masterymain
{
	display: block;
	width: 90vw;
	margin-left: 5vw;
	height: 58vh;
	text-align: center;
}
#masteryaehinorst, #masterydl, #masterybcfgmpuwy, #masteryjkqvxz, #masteryAEHINORST, #masteryDL, #masteryBCFGMPUWY, #masteryJKQVXZ
{
	display: none;
}
#masteryaehinorst, #masterydl, #masterybcfgmpuwy, #masteryjkqvxz, #masteryAEHINORST, #masteryDL, #masteryBCFGMPUWY, #masteryJKQVXZ
{
	width: 70vw;
	margin-left: 10vw;
	padding-top: 14vh;
	text-align: center;
}
#masteryaehinorsttime
{
	width: 70vw;
	font-size: 3.5vh;
}
.masterykeys
{
	margin-top: 2vh;
	width: 7vw;
	height: 10vh;
	display: inline-block;
	background: linear-gradient(90deg, rgba(251,192,63,0.88) 29%, rgba(252,241,70,0.88) 100%), linear-gradient(to top, #282828 20%, white 80%);
	border-radius: 0.7vw;
	border-left: 0.05vw solid #5b5b5b;
	border-right: 0.05vw solid #5b5b5b;
	border-top: 0.1vh solid #5b5b5b;
	border-bottom: 0.1vh solid #5b5b5b;
	line-height: 3.2vh;
	font-size: 3vh;
}
.masterycount
{
	font-size: 1.3vh;
}
.masterytime
{
	display: block;
	margin-top: 0.5vh;
	font-size: 1.7vh;
}
#masterychoice
{
	display: block;
	width: 100vw;
	height: 25vh;
	margin-top: 2vh;
	text-align: center;
}
#masterychoicetext
{
	width: 100vw;
	text-align: center;
	font-size: 4vh;
	line-height: 4vh;
	height: 5vh;
}
#masterychoice1, #masterychoice5
{
	width: 20vw;
	height: 8.6vh;
	margin-top: 1vh;
	border-left: 0.1vw solid #5b5b5b;
	border-right: 0.1vw solid #5b5b5b;
	border-top: 0.2vh solid #5b5b5b;
	border-bottom: 0.2vh solid #5b5b5b;
	border-radius: 1vw;
	font-size: 1.8vw;
	text-align: center;
	line-height: 8.6vh;
	letter-spacing: 0.5vw;
	float: left;
	cursor: pointer;
	margin-left: 17.1vw;
	background: linear-gradient(90deg, rgba(251,192,63,0.88) 29%, rgba(252,241,70,0.88) 100%), linear-gradient(to top, #282828 20%, white 80%);
	transition: transform 0.2s ease-in-out;
	box-shadow: 0px 1px 5px 0px #a2a2a2;
}
#masterychoice5
{
	background: linear-gradient(to top right, #999999, #c2c2c2);
	cursor: default;
}
#masterychoice2, #masterychoice6
{
	width: 7vw;
	height: 8.6vh;
	margin-top: 1vh;
	border-left: 0.1vw solid #5b5b5b;
	border-right: 0.1vw solid #5b5b5b;
	border-top: 0.2vh solid #5b5b5b;
	border-bottom: 0.2vh solid #5b5b5b;
	border-radius: 1vw;
	font-size: 1.8vw;
	text-align: center;
	line-height: 8.6vh;
	letter-spacing: 0.5vw;
	float: left;
	margin-left: 1vw;
	background: linear-gradient(to top right, #999999, #c2c2c2);
	transition: transform 0.2s ease-in-out;
	box-shadow: 0px 1px 5px 0px #a2a2a2;
}
#masterychoice3, #masterychoice7
{
	width: 20vw;
	height: 8.6vh;
	margin-top: 1vh;
	border-left: 0.1vw solid #5b5b5b;
	border-right: 0.1vw solid #5b5b5b;
	border-top: 0.2vh solid #5b5b5b;
	border-bottom: 0.2vh solid #5b5b5b;
	border-radius: 1vw;
	font-size: 1.8vw;
	text-align: center;
	line-height: 8.6vh;
	letter-spacing: 0.5vw;
	float: left;
	margin-left: 1vw;
	background: linear-gradient(to top right, #999999, #c2c2c2);
	transition: transform 0.2s ease-in-out;
	box-shadow: 0px 1px 5px 0px #a2a2a2;
}
#masterychoice4, #masterychoice8
{
	width: 15vw;
	height: 8.6vh;
	margin-top: 1vh;
	border-left: 0.1vw solid #5b5b5b;
	border-right: 0.1vw solid #5b5b5b;
	border-top: 0.2vh solid #5b5b5b;
	border-bottom: 0.2vh solid #5b5b5b;
	border-radius: 1vw;
	font-size: 1.8vw;
	text-align: center;
	line-height: 8.6vh;
	letter-spacing: 0.5vw;
	float: left;
	margin-left: 1vw;
	background: linear-gradient(to top right, #999999, #c2c2c2);
	box-shadow: 0px 1px 5px 0px #a2a2a2;
}
#storage
{
	display: none;
	width: 100vw;
	height: 88.6vh;
}
#chooseinfo
{
	width: 100vw;
	height: 5vh;
	line-height: 5vh;
	font-size: 2.5vh;
	margin-top: 1vh;
	text-align: center;
}
#strgletters
{
	width: 78.6vw;
	border-left: 0.1vw solid #9b9b9b;
	border-right: 0.1vw solid #9b9b9b;
	border-top: 0.2vh solid #9b9b9b;
	border-bottom: 0.2vh solid #9b9b9b;
	margin-left: 10.6vw;
	height: 18vh;
	border-radius: 0.7vw;
	overflow: auto;
	overflow-x: hidden;
}
.strgletter
{
	width: 3.9vw;
	height: 7.8vh;
	border-radius: 0.4vw;
	margin-left: 0.4vw;
	margin-right: 0.4vw;
	margin-top: 0.5vh;
	margin-bottom: 0.4vh;
	text-align: center;
	line-height: 7.5vh;
	font-size: 3.8vh;
	border-left: 0.05vw solid black;
	border-right: 0.05vw solid black;
	border-top: 0.1vh solid black;
	border-bottom: 0.1vh solid black;
	float: left;
	box-shadow: 1px 1px 2px 0px #b5b5b5;
	background: linear-gradient(to top, #e0e0e0 5%, white 100%);
	transition: transform 0.2s ease-out;
	cursor: pointer;
}
.strgletter:hover
{
	transform: scale(1.1,1.1);
}
#storagemain
{
	margin-top: 7vh;
	display: none;
}
#storagemaininfo
{
	width: 50vw;
	margin-left: 25vw;
	height: 3vh;
}
#storagemaininfo1
{
	width: 15vw;
	line-height: 3vh;
	text-align: center;
	font-size: 1.2vh;
	float: left;
}
#storagemaininfo2
{
	width: 20vw;
	line-height: 3vh;
	text-align: center;
	font-size: 1.2vh;
	float: left;
}
#storagemaininfo3
{
	width: 8.5vw;
	line-height: 3vh;
	text-align: center;
	font-size: 1.2vh;
	float: left;
}
#storagemainmain
{
	margin-top: 1vh;
	width: 50vw;
	margin-left: 25vw;
	height: 13vh;
}
#storagereqs
{
	width: 12.4vw;
	height: 12vh;
	border: 0.1vw solid #616161;
	border-radius: 0.6vw;
	margin-left: 1.2vw;
	float: left;
	box-shadow: 0px 0px 3px 0px #959595;
}
#storagereq1
{
	margin-top: 0.8vh;
	width: 5vw;
	height: 10vh;
	margin-left: 0.5vw;
	overflow: hidden;
	border-radius: 0.6vw;
	float: left;
	border-left: 0.1vw solid black;
	border-right: 0.1vw solid black;
	border-top: 0.2vh solid black;
	border-bottom: 0.2vh solid black;
	box-shadow: 1px 1px 1px 0px #c7c7c7;
}
#storagereq1info, #storagereq2info
{
	position: relative;
	top: -8vh;
	width: 5vw;
	font-size: 1.4vh;
	text-align: center;
}
#storagereq1letter, #storagereq2letter
{
	width: 5vw;
	height: 8vh;
	line-height: 9vh;
	font-size: 1.8vw;
	text-align: center;
	background: linear-gradient(to top, #ececec 0%, #ececec 20%, #ffffff 80%);
}
#storagereq1letter
{
	background-image: url("score.png"), linear-gradient(to top, #ececec 0%, #ececec 20%, #ffffff 80%);
	background-size: 5vw 9vh;
}
#storagereq1fill, #storagereq2fill
{
	margin-top: -1.8vh;
	width: 5vw;
	height: 3vh;
	background: linear-gradient(to right, #00ff1d87, #31ff00a3 80%), linear-gradient(to top, #d2d2d2 0%, #d2d2d2 50%, #ffffff 90%);
	text-align: center;
	line-height: 2.1vh;
	font-size: 1.6vh;
	opacity: 0.9;
	cursor: pointer;
}
#storagereq2
{
	margin-top: 0.8vh;
	width: 5vw;
	height: 10vh;
	margin-left: 1vw;
	overflow: hidden;
	border-radius: 0.6vw;
	float: left;
	border-left: 0.1vw solid black;
	border-right: 0.1vw solid black;
	border-top: 0.2vh solid black;
	border-bottom: 0.2vh solid black;
}
#storageprog
{
	width: 22.4vw;
	height: 3vh;
	margin-top: 4.5vh;
	float: left;
	border-top: 0.1vw solid #616161;
	border-bottom: 0.1vw solid #616161;
	line-height: 3vh;
	font-size: 1.7vh;
	text-align: center;
	background: linear-gradient(to right, #15ff0075 50%, #ffffff75 50%), linear-gradient(to top, #d2d2d2 0%, #d2d2d2 50%, #ffffff 90%);
}
#storagerew
{
	width: 6vw;
	height: 12vh;
	float: left;
	border: 0.1vw solid #616161;
	border-radius: 0.7vw;
	box-shadow: 0px 0px 3px 0px #959595;
	line-height: 7vh;
	font-size: 3vw;
	text-align: center;
	background: linear-gradient(to top, #00a0ff4f 0%, #15c5ff73 100%), linear-gradient(to right, #d2d2d2 0%, #d2d2d2 50%, #ffffff 90%);
}
#storagerew>span
{
	line-height: 2vh;
	font-size: 0.8vw;
	text-align: center;
}
#prestige
{
	display: none;
	width: 100vw;
	height: 89.6vh;
}
#online
{
	display: none;
	width: 100vw;
	height: 89.6vh;
}
