body
{
	margin: 0;
	padding: 0;
	background-color: #ccd5fd;
}
#title2
{
	width: 100%;
	height: 90px;
	background: linear-gradient(to top, #ccd5fd 0%, #eeeddd 100%);
}
#title
{
	margin: auto;
	width: 100%;
}
#PointsCount
{
	height: 90px;
	text-align: center;
	line-height: 90px;
	margin-left: 22.7%;
	width: 55%;
	float: left;
	font-size: 55px;
	color: #8100fb;
	text-shadow: 1px 1px 5px #989898;
}
#Boost
{
	height: 60px;
	font-size: 35px;
	line-height: 60px;
	margin-top: 12px;
	width: 120px;
	text-align: center;
	float: left;
	color: #e76666;
	box-shadow: 0px 0px 20px 1px #c3c3c3;
	text-shadow: 2px 2px 4px #a5a5a5;
	border-radius: 15px;
	transition-duration: 0.3s;
}
#Points
{
	height: 30px;
	margin: auto;
	width: 350px;
}
#Line
{
	height: 6px;
	width: 100%;
	background-color: #3585e4;
}
.s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8, .s9, .s10
{
	background-color: #958bf1;
	float: left;
	margin-left: 5px;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 4px;
}
#s2s1, #s2s2, #s2s3, #s2s4, #s2s5, #s2s6, #s2s7, #s2s8, #s2s9, #s2s10
{
	height: 30px;
	appearance: none;
	-webkit-appearance: none;
	background-color: #8100fb;
	border-radius: 4px;
}
#Upgrades
{
	width: 90%;
	margin: auto;
	height: 300px;
}
#BuyInfo1, #BuyInfo2, #BuyInfo3, #BuyInfo4 
{
	width: 100%;
	text-align: center;
	margin-top: -5px;
}
#Upgrade1Progress, #Upgrade2Progress, #Upgrade3Progress, #Upgrade4Progress
{
	width: 256px;
	height: 35px;
	margin: auto;
	margin-top: 5px;
}
.su1, .su21, .su31, .su41
{ 
	background-color: #d1e6c3;
	float: left;
	width: 22px;
	height: 22px;
	text-align: center;
	margin-top: 5px;
	border-radius: 3px;
}
.su2, .su3, .su4, .su5, .su6, .su7, .su8, .su9, .su10, .su22, .su23, .su24, .su25, .su26, .su27, .su28, .su29, .su210, .su32, .su33, .su34, .su35, .su36, .su37, .su38, .su39, .su310, .su42, .su43, .su44, .su45, .su46, .su47, .su48, .su49, .su410
{
	background-color: #d1e6c3;
	float: left;
	margin-left: 4px;
	width: 22px;
	height: 22px;
	text-align: center;
	margin-top: 5px;
	border-radius: 3px;
}
#s2su1, #s2su2, #s2su3, #s2su4, #s2su5, #s2su6, #s2su7, #s2su8, #s2su9, #s2su10, #s2su21, #s2su22, #s2su23, #s2su24, #s2su25, #s2su26, #s2su27, #s2su28, #s2su29, #s2su210, #s2su31, #s2su32, #s2su33, #s2su34, #s2su35, #s2su36, #s2su37, #s2su38, #s2su39, #s2su310, #s2su41, #s2su42, #s2su43, #s2su44, #s2su45, #s2su46, #s2su47, #s2su48, #s2su49, #s2su410
{
	height: 100%;
	appearance: none;
	-webkit-appearance: none;
	background-color: #1dde18;
	border-radius: 3px;
}
#Upgrade1
{
	margin-bottom: 20px;
}
#Upgrade2
{
	margin-left: 5%;
	margin-bottom: 20px;
}
#Upgrade4
{
	margin-left: 5%;
}
#Upgrade1, #Upgrade2, #Upgrade3, #Upgrade4
{
	height: 140px;
	width: 47%;
	float: left;
	background-color: #3585e4;
	border: 2px solid #2b33ff;
	box-shadow: 3px 3px 12px 0px #797979;
	line-height: 35px;
	text-align: center;
	font-size: 120%;
	border-radius: 15px;
	color: #e8e8e8;
}
#Upgrade1:hover, #Upgrade2:hover, #Upgrade3:hover, #Upgrade4:hover
{
	transform: scale(1.05,1.05);
	transition-duration: 0.1s;
}
#Upgrade1:active, #Upgrade2:active, #Upgrade3:active, #Upgrade4:active
{
	transform: scale(0.975,0.975);
	transition-duration: 0.12s;
}
