html {
    scroll-behavior: smooth;
}
body
{
	margin: 0;
	padding: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
    font-family: "Gill Sans", sans-serif;
}

#menu
{
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-shadow: 0px 1px 3px 0px #afafaf;
    height: 9vh;
    background: #f8f8f8;
    opacity: 0.97;
}

#logo
{
    float: left;
    height: 9vh;
    max-width: 40vw;
    font-size: 2.4vw;
    color: black;
    line-height: 8.5vh;
    margin-left: 15vw;
    cursor: default;
    font-weight: 1000;
    letter-spacing: -2px;
    cursor: pointer;

}
#logo>a
{
    text-decoration: none;
    color: rgb(17, 33, 52);
}
#logo>a>span
{
    font-size: 0.8vw;
    padding-left: 1vw;
    letter-spacing: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#meninfo3
{
    float: right;
    height: 9vh;
}
#menu1, #menu2, #menu3, #menu4, #menu5, #language
{
    width: 4.5vw;
    height: 9vh;
    float: right;
    margin-right: 0.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1vw;
    font-family: 'Josefin Sans',Helvetica,Arial,Lucida,sans-serif;
}
#language
{
    margin-left: 7.7vw;
    margin-right: 2vw;
}
#lang_pl
{
    float: left;
    width: 1.2vw;
    height: 0.7vw;
    background-image: url("pl.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 1px solid #cccccc;
}
#lang_en
{
    float: left;
    width: 1.2vw;
    height: 0.7vw;
    margin-left: 0.5vw;
    background-image: url("en.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #cccccc;
}
#menu1>a, #menu2>a, #menu3>a, #menu4>a, #menu5>a
{
    text-decoration: none;
    color: rgb(38, 49, 62);
}
#menu1>a:hover, #menu2>a:hover, #menu3>a:hover, #menu4>a:hover, #menu5>a:hover
{
    color: rgb(106, 141, 181);
}


#main
{
    top: 9vh;
    z-index: 0;
    width: 100%;
    overflow: hidden;
}
#main_image
{
    display: block;
    width: 100%;
    height: 55vh;
    margin-top: 9vh;
    overflow: hidden;
    animation-name: arise;
    animation-duration: 0.7s;
}
#image_round
{
    position: relative;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    overflow: hidden;
    width: 160%;
    left:-30%; 
    height: 55vh;
}
#image_round>img
{
    position: relative;
    width: 100vw;
    height: 80vh;
    margin-left: 18%;
    margin-top: -2%;
}
#home
{
    margin-top: 5vh;
    width: 100%;
    max-width: 100%;
    font-size: 4.5vw;
    color: rgb(13, 123, 213);
    text-align: center;
    font-weight: 700;
    animation-name: arise2;
    animation-duration: 1s;
}

#info1, #info2, #info3
{
    display: block;
    width: 75vw;
    margin-left: 12.5vw;
    height: 10vh;
    min-height: 35vh;
    margin-top: 18vh;
    animation-name: arise2;
    animation-duration: 0.5s;

}#info2, #info3{margin-top: 25vh;}
#info3
{
    margin-bottom: 15vh;
}
#info1_split, #info3_split
{
    width: 40vw;
    display: block;
    float: left;
}
#info2_split
{
    width: 40vw;
    display: block;
    float: right;
}
#info1_header, #info3_header
{
    margin-top: 2%;
    margin-left: 3%;
    font-size: 7vh;
    text-align: left;
    font-weight: 650;
    color: #202020;
}
#info1_text, #info3_text
{
    margin-left: 3%;
    font-size: 2.1vh;
    color: #5f5f5f;
    text-align: left;
    font-weight: 530;
    width: 32vw;
}
#info2_header
{
    margin-top: 2%;
    margin-right: 3%;
    font-size: 7vh;
    text-align: right;
    font-weight: 650;
    color: #202020;
}
#info2_text
{
    float: right;
    margin-right: 3%;
    font-size: 2.1vh;
    color: #5f5f5f;
    text-align: right;
    font-weight: 530;
    width: 32vw;
}

#info1_click, #info2_click, #info3_click
{
    margin-left: 11vw;
    margin-top: 10%;
    width: 10vw;
    height: 6vh;
    font-size: 2.2vh;
    line-height: 6vh;
    text-align: center;
    font-weight: 600;
    float: left;
    background-color: #3f95da;
    border-radius: 5vw;
    border: 1px solid #2f7cbc;
    cursor: pointer;
    transition: 0.3s all;
}
#info1_click:hover, #info2_click:hover, #info3_click:hover
{
    opacity: 0.8;
    transform: scale(1.05);
}
#info2_click
{
    margin-left: 0;
    margin-right: 11vw;
    float: right;
}
#info1_click>a, #info2_click>a, #info3_click>a
{
    text-decoration: none;
    color: white;
    display: block;
    height: 100%;
    width: 100%;
}

#info1_image
{
    width: 22vw;
    height: 15vw;
    display: block;
    float: right;
    margin-top: 2%;
    margin-right: 3%;
    background-color: gray;
    border-radius: 3vh;
    background-image: url("services.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#info2_image
{
    width: 25vw;
    height: 17vw;
    display: block;
    float: left;
    margin-top: 2%;
    margin-left: 3%;
    background-color: gray;
    border-radius: 3vh;
    background-image: url("career.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#info3_image
{
    width: 25vw;
    height: 17vw;
    display: block;
    float: right;
    margin-top: 2%;
    margin-right: 3%;
    background-color: gray;
    border-radius: 3vh;
    background-image: url("us.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#contact
{
    width: 80vw;
    margin-left: 10vw;
    height: 32vh;
    border-top: 2px solid #bababa;
    text-align: center;
}

#contact1, #contact2, #contact3
{
    display: inline-block;
    width: 20vw;
    margin-top: 10vh;
}

#contact1header, #contact2header, #contact3header
{
    font-size: 4vh;
    text-align: center;
    line-height: 5vh;
    color: #47494c;
    margin-bottom: 1.2vh;
}
#contact1text, #contact2text, #contact3text
{
    font-size: 2vh;
    text-align: center;
    color: #5f6263;
    line-height: 3vh;
}
#contact3text>a, #contact2text>a
{
    text-decoration: none;
    color:  #47494c;
}




#return_to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(29, 50, 93);
    background: rgba(29, 50, 93, 0.7);
    width: 3vw;
    height: 3vw;
    text-decoration: none;
    display: none;
    -webkit-border-radius: 0.8vw;
    -moz-border-radius: 0.8vw;
    border-radius: 0.8vw;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return_to_top img {
    position: relative;
    top: 0.9vw;
    left: 0.9vw;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return_to_top:hover {
    background: rgba(29, 50, 93, 0.9);
}
#return_to_top:hover img {
    top: 0.5vw;
}
#icon_arrow{
    width: 1.2vw;
    height: 1.1vw;
}


.reveal{
    position: relative;
    transform: translateY(4vh);
    opacity: 0;
    transition: 1s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
.reveal2{
    position: relative;
    opacity: 0;
    transition: 0.7s all ease;
}
.reveal2.active{
    opacity: 1;
}

@keyframes arise {
    0%   {transform: scale(1.1); opacity: 0;}
    100% {transform: scale(1);}
  }
@keyframes arise2 {
    0%   {opacity: 0; transform: translate(0,30px);}
    20%   {opacity: 0; transform: translate(0,30px);}
    100% {opacity: 1; transform: translate(0,0px);}
  }

