body
{
	margin: 0;
	padding: 0;
	background-color: #ccd5fd;
}
#title2
{
	width: 100%;
	height: 100px;
	background: linear-gradient(to top, #ccd5fd 0%, #eeeddd 100%);
}
#LVLContainer
{
	float: left;
	width: 10%;
	height: 90px;
}
#LVL
{
	width: 90px;
	height: 90px;
	background-color: #54e26a;
	float: left;
	margin-top: 10px;
	margin-left: 15px;
	border-radius: 100%;
	line-height: 70px;
	text-align: center;
	font-size: 20px;
	color: #e6ebf5;
	box-shadow: 0px 3px 17px 0px #9c9c9c;
	font-weight: 900;
	cursor: default;
}
#LvlProgress
{
	width: 60px;
	height: 10px;
	background-color: #e0ffe5;
	margin: auto;
	margin-top: -12px;
}
#LvlProgressBar
{
	height: 10px;
	background-color: #4aadf1;
	appearance: none;
	-webkit-appearance: none;
}
#PerSecondsNo
{
	height: 50px;
	width: 7%;
	background-color: #c7c7c7;
	display: block;
	float: left;
	color: #717171;
	line-height: 25px;
	text-align: center;
	font-size: 18px;
	margin-top: 25px;
	border-radius: 7px;
	margin-left: 15.5%;
	box-shadow: 0px 3px 15px 0px #a4a7b0;
	border: 2px solid #b5b5b5;
	cursor: pointer;
}
#PerSecondsNo:active
{
	animation: zablokowane2 0.1s 1;
}
@keyframes zablokowane2
{
	0% {transform: translate(0px, 0px);}
	10% {transform: translate(5px, 0px);}
	20% {transform: translate(-5px, 0px);}
	30% {transform: translate(0px, 5px);}
	40% {transform: translate(0px, -5px);}
	50% {transform: translate(5px, 0px);}
	60% {transform: translate(-5px, 0px);}
	70% {transform: translate(0px, 5px);}
	80% {transform: translate(0px, -5px);}
	90% {transform: translate(0px, 5px);}
	100% {transform: translate(0px, 0px);}
}
#LEVEL2
{
	font-size: 25px;
}
#PerSeconds
{
	height: 90px;
	width: 7%;
	display: none;
	float: left;
	margin-top: 10px;
	margin-left: 15.5%;
	cursor: default;
}
#ps
{
	width: 100%;
	height: 15px;
	margin-top: 27.5px;
	background-color: #e1ffe3;
    border: 1px solid #949494;
	border-radius: 5px;
	box-shadow: 2px 2px 5px 0px #b3b3b3;
}
#ps2
{
	background-color: #44ff61;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
#BonusText
{
	width: 100%;
	height: 20px;
	text-align: center;
	color: black;
	font-size: 12px;
	line-height: 20px;
	display: none;
	animation: Punkty 0.7s 1;
	cursor: default;
}
@keyframes Punkty
{
	0% {transform: translate(0px, 0px);}
	100% {transform: translate(0px, 12px);}
}
#SecondsText
{
	width: 30%;
	height: 30px;
	margin-left: 42%;
	color: #50009c;
}
#PointsSeconds
{
	width: 35%;
	height: 100px;
	float: left;
}
#PointsCount
{
	height: 70px;
	text-align: center;
	line-height: 90px;
	width: 100%;
	font-size: 55px;
	color: #8100fb;
	text-shadow: 1px 1px 5px #989898;
	font-weight: 900;
	cursor: default;
}
#Boost
{
	height: 60px;
	font-size: 35px;
	line-height: 60px;
	margin-top: 20px;
	width: 120px;
	text-align: center;
	float: left;
	color: #e76666;
	box-shadow: 0px 0px 20px 1px #d0d0d0;
	text-shadow: 2px 2px 4px #a5a5a5;
	border-radius: 15px;
	transition-duration: 0.3s;
	cursor: pointer;
}
#Points
{
	height: 30px;
	margin: auto;
	width: 350px;
}
.s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8, .s9, .s10
{
	background-color: #a89ff5;
	float: left;
	margin-left: 5px;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 4px;
}
#s2s1, #s2s2, #s2s3, #s2s4, #s2s5, #s2s6, #s2s7, #s2s8, #s2s9, #s2s10
{
	height: 30px;
	appearance: none;
	-webkit-appearance: none;
	background-color: #8100fb;
	border-radius: 4px;
}
#Upgrades
{
	width: 90%;
	margin: auto;
	height: 480px;
}
#BuyInfo1, #BuyInfo2, #BuyInfo3, #BuyInfo4, #BuyInfo5
{
	width: 100%;
	text-align: center;
	margin-top: -5px;
}
#Upgrade1Progress, #Upgrade2Progress, #Upgrade3Progress, #Upgrade4Progress, #Upgrade5Progress, #Upgrade6Progress
{
	width: 256px;
	height: 35px;
	margin: auto;
	margin-top: 5px;
}
.su1, .su21, .su31, .su41, .su51, .su61
{ 
	background-color: #c9e6c3;
	float: left;
	width: 22px;
	height: 22px;
	text-align: center;
	margin-top: 5px;
	border-radius: 3px;
}
.su2, .su3, .su4, .su5, .su6, .su7, .su8, .su9, .su10, .su22, .su23, .su24, .su25, .su26, .su27, .su28, .su29, .su210, .su32, .su33, .su34, .su35, .su36, .su37, .su38, .su39, .su310, .su42, .su43, .su44, .su45, .su46, .su47, .su48, .su49, .su410, .su52, .su53, .su54, .su55, .su56, .su57, .su58, .su59, .su510, .su62, .su63, .su64, .su65, .su66, .su67, .su68, .su69, .su610
{
	background-color: #c9e6c3;
	float: left;
	margin-left: 4px;
	width: 22px;
	height: 22px;
	text-align: center;
	margin-top: 5px;
	border-radius: 3px;
}
#s2su1, #s2su2, #s2su3, #s2su4, #s2su5, #s2su6, #s2su7, #s2su8, #s2su9, #s2su10, #s2su21, #s2su22, #s2su23, #s2su24, #s2su25, #s2su26, #s2su27, #s2su28, #s2su29, #s2su210, #s2su31, #s2su32, #s2su33, #s2su34, #s2su35, #s2su36, #s2su37, #s2su38, #s2su39, #s2su310, #s2su41, #s2su42, #s2su43, #s2su44, #s2su45, #s2su46, #s2su47, #s2su48, #s2su49, #s2su410, #s2su51, #s2su52, #s2su53, #s2su54, #s2su55, #s2su56, #s2su57, #s2su58, #s2su59, #s2su510, #s2su61, #s2su62, #s2su63, #s2su64, #s2su65, #s2su66, #s2su67, #s2su68, #s2su69, #s2su610
{
	height: 100%;
	appearance: none;
	-webkit-appearance: none;
	background-color: #1dde18;
	border-radius: 3px;
}
#Upgrade1, #Upgrade3
{
	margin-bottom: 20px;
}
#Upgrade2, #Upgrade4, #Upgrade6, #Upgrade6No, #Upgrade6yes
{
	margin-left: 5%;
	margin-bottom: 20px;
}
#Upgrade1, #Upgrade2, #Upgrade3, #Upgrade4
{
	height: 140px;
	width: 47%;
	float: left;
	background-color: #3585e4;
	border: 2px solid #2b33ff;
	box-shadow: 3px 3px 12px 0px #797979;
	line-height: 35px;
	text-align: center;
	font-size: 120%;
	border-radius: 15px;
	color: #e8e8e8;
	cursor: pointer;
}
#Upgrade5, #Upgrade6
{
	height: 140px;
	width: 47%;
	float: left;
	background-color: #3585e4;
	border: 2px solid #2b33ff;
	box-shadow: 3px 3px 12px 0px #797979;
	line-height: 35px;
	text-align: center;
	font-size: 120%;
	border-radius: 15px;
	color: #e8e8e8;
	cursor: pointer;
	display: none;
}
#Upgrade5No, #Upgrade6No
{
	height: 140px;
	width: 47%;
	float: left;
	background-color: #b9b9b9;
    border: 2px solid #969696;
    box-shadow: 3px 3px 12px 0px #989898;
	line-height: 46px;
	text-align: center;
	font-size: 120%;
	border-radius: 15px;
	color: #4a4a4a;
	cursor: pointer;
	display: block;
}
#Upgrade6yes
{
	height: 140px;
	width: 47%;
	float: left;
	background-color: #35e469;
    border: 2px solid #02c52b;
    box-shadow: 3px 3px 12px 0px #989898;
    line-height: 130px;
    text-align: center;
    font-size: 190%;
    border-radius: 15px;
    color: #e8e8e8;
	cursor: pointer;
	display: none;
}
#Upgrade5No:active, #Upgrade6No:active, #Upgrade6yes:active
{
	animation: zablokowane 0.1s 1;
}
@keyframes zablokowane
{
	0% {transform: translate(0px, 0px);}
	10% {transform: translate(8px, 0px);}
	20% {transform: translate(-8px, 0px);}
	30% {transform: translate(0px, 8px);}
	40% {transform: translate(0px, -8px);}
	50% {transform: translate(8px, 0px);}
	60% {transform: translate(-8px, 0px);}
	70% {transform: translate(0px, 8px);}
	80% {transform: translate(0px, -8px);}
	90% {transform: translate(0px, 8px);}
	100% {transform: translate(0px, 0px);}
}
#Upgrade1:hover, #Upgrade2:hover, #Upgrade3:hover, #Upgrade4:hover, #Upgrade5:hover, #Upgrade6:hover, #Boost:hover
{
	transform: scale(1.05,1.05);
	transition-duration: 0.1s;
}
#Upgrade1:active, #Upgrade2:active, #Upgrade3:active, #Upgrade4:active, #Upgrade5:active, #Upgrade6:active, #Boost:active
{
	transform: scale(0.975,0.975);
	transition-duration: 0.12s;
}
#LEVEL
{
	font-size: 180%;
}
#lvlup
{
	opacity: 0.9;
	line-height: 600px;
	text-align: center;
	display: none;
	font-size: 50px;
	width: 100%;
	height: 140%;
	position: absolute;
	background-color: #dedede;
	color: #ff0000;
	z-index: 5;
	cursor: default;
}
